
= render @post

%h2#comment_count= pluralize @post.comments.size, 'Comment'

%section#comments-container

  #comments
    = render @post.comments.order :created_at

  %h3 Add a Comment:
  = form_for [@post, @post.comments.build], :remote => true do |f|
    = f.text_field :name, :placeholder => 'Name'
    = f.text_area :message, :placeholder => 'Message'
    = f.submit
